body{
    /* background-image: url("../images/shattered.png"); */
    /* background-image: url("../images/blue.jpg"); */
    /* background-image: url("../images/diamond-background.jpg"); */
    /* background-image: url("../images/Sparkle-Diamond.jpg"); */
    background-image: url("../images/diamond-background2.jpg");
  
}


body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

.jumbotron {
    height: 250px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-image: url("../images/diamond-background2.jpg");
}

/* header-Crystals Collector Game */
.display-4 {
    color: blue;
}

/* Model- How To Palay */

.modal-body .modal-header {
    background-image: url("../images/download-diamond3.jpg")
}

/* You Won!!! / You Lost!!! - popup message */
.popmessage{
    color:blue;
}




.col-sm-3{
    /* background-color: black */
}

.border{
    /* width: 3px; */
    color: blue;
}

#col{
    width: 500px;
}